# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore files created by npm
node_modules

.DS_Store
.DS_Store
.DS_Store
