{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% if site.data.navigation.main.size > 0 %}<button><div class="navicon"></div></button>{% endif %}
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.url contains '/#' and page.url == '/' %}
              {% assign nav_url = link.url | remove_first: '/' %}
            {% else %}
              {% assign nav_url = domain | append: link.url %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ nav_url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        {% if site.data.navigation.main.size > 0 %}<ul class="hidden-links hidden"></ul>{% endif %}
      </nav>
    </div>
  </div>
</div>
