{% if site.analytics.google.tracking_id and site.analytics.integrity.google %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', {{ site.analytics.google.tracking_id | jsonify }}]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://www.google-analytics.com/ga.js';
    ga.integrity = {{ site.analytics.integrity.google | jsonify }};
    ga.crossOrigin = 'anonymous';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
